/bin/
/.metadata/
ExerciciosExtras/.project
ExerciciosExtras/.classpath
EstruturasSequenciais/.project
EstruturasSequenciais/.classpath
EstruturasDeLaco/.project
EstruturasDeLaco/.classpath
EstruturasCondicionais/.project
EstruturasCondicionais/.classpath
Desafios/.classpath
Desafios/.project
.classpath